<!--Fetch_Layout File-->
{% extends '../shared/auth_base.html' %}

<!--Set_Layout Application Name-->
{% block app_name %}User Authentication{% endblock %}

<!--Set_Layout Page Title-->
{% block title %}Login - Auth{% endblock %}

<!--Body Content-->
{% block content %}

{% if user.is_authenticated %}
<p class="text-success fw-4">You are already logged in!</p>
<a class="btn btn-outline-primary mb-3" href="{% url 'user_auth:logout_user' %}">Logout?</a>
<a class="btn btn-outline-primary mb-3" href="{% url 'user_auth:show_user' %}">View Profile?</a>

{% else %}
<div class="container d-flex justify-content-center m-4">
    <form action="{% url 'user_auth:authenticate_user' %}">
        {% csrf_token %}
        <h2>Login</h2>
        <div class="field">
            <label class="label text-dark text-end">Username</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Astro username">
                <span class="icon is-small is-left">
                    <i class="fas fa-user-astronaut"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label text-dark text-end">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>
        <!-- Submit -->
        <input type="submit" class="btn btn-outline-info mb-3" value="Login" />
    </form>
</div>

{% endif %}
{% endblock %}